.form-group label {
  font-size: 18px;
  color: black;
  margin-bottom: 4px;
}
.form-control {
  font-size: 1rem;

}
#print-area p{
  font-size: 18px;

}
#print-area {
  background-color: #f8f9fa; /* Légèrement gris */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

h4, h5 {
  color: #007bff; /* Bleu Bootstrap */
}

p {
  margin-bottom: 8px;
  font-size: 16px;
}

hr {
  border-top: 1px solid #e0e0e0;
}

.btn {
  font-size: 14px;
}

