<div class="breadcrumb">
  <h1>GESTION CLIENTS</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row mb-3">
  <div class="row">
    <div class="col-md-4 mb-4">
      <button class="btn plusbtn btn-primary float-right" (click)="openNewClientModal()">
        <i class="i-Add"></i> NOUVEAU CLIENT
      </button>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card o-hidden">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
          <th scope="col">NOM COMPLET</th>
          <th scope="col">ENTREPRISE</th>
          <th scope="col">CONTACT</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of client  | paginate: { itemsPerPage: pageSize, currentPage: page }"  >
              <!-- <th scope="row">{{ invoice.id_client }}</th> -->
            <td>{{ invoice.nom }} {{ invoice.prenom }}</td>
            <td>{{ invoice.entreprise }} </td>
            <td>{{ invoice.telephone }} </td>


            <td>
              <button class="btn btn-outline-secondary me-3" (click)="openAddAddressModal(invoice)">
                <i class="i-Eye"></i>
              </button>
              <button class="btn btn-outline-danger" (click)="openConfirmModal(invoice); $event.stopPropagation()">
                <i class="i-Remove-Basket"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <div class="col-md-12 mt-3 d-flex justify-content-center" *ngIf="client?.length">
          <pagination-controls (pageChange)="page = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
        </div>
      </table>
    </div>
  </div>
</div>
<!-- Modal pour details du Client avec ses chantiers  -->
<ng-template #addAddressModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Détails du client</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body" *ngIf="clientdetails">
    <!-- Infos Client -->
    <div class="mb-3">
      <p><strong>Nom :</strong> {{ clientdetails.nom }}</p>
      <p><strong>Entreprise :</strong> {{ clientdetails.entreprise }}</p>
    </div>

    <hr>

    <!-- Liste des chantiers -->
    <h5>Chantiers</h5>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let chantier of clientdetails.chantiers">
        <strong>{{ chantier.nom_chantier }}</strong><br>
        {{ chantier.adresse }} - {{ chantier.ville }}<br>
      </li>
    </ul>

    <hr>

    <!-- Formulaire d'ajout d'adresse -->
         <h5>Nouveau Chantier</h5>

   <form [formGroup]="addChantierForm">
      <div class="mb-3">
        <label for="nom_chantier" class="form-label">Nom chantier *</label>
        <input type="text" id="nom_chantier" class="form-control" formControlName="nom_chantier" required>
      </div>

      <div class="mb-3">
        <label for="adresse" class="form-label">Adresse du chantier *</label>
        <input type="text" id="adresse" class="form-control" formControlName="adresse" required>
      </div>
      <div class="mb-3">
        <label for="notes" class="form-label">Notes</label>
        <textarea id="notes" class="form-control" formControlName="notes"></textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Annuler</button>
    <button type="submit" class="btn btn-primary"  (click)="addChantier(clientdetails.id)">Ajouter</button>
  </div>
</ng-template>

<!-- Modal Création Nouveau Client -->
<ng-template #newClientModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Créer un Nouveau Client</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="newClientForm">
      <div class="mb-3">
        <label for="nom" class="form-label">Nom *</label>
        <input type="text" id="nom" class="form-control" formControlName="nom" required>
      </div>



      <div class="mb-3">
        <label for="entreprise" class="form-label">Entreprise *</label>
        <input type="text" id="entreprise" class="form-control" formControlName="entreprise">
      </div>

      <div class="mb-3">
        <label for="telephone" class="form-label">Téléphone</label>
        <input type="text" id="telephone" class="form-control" formControlName="telephone">
      </div>

      <div class="mb-3">
        <label for="adresse" class="form-label">Adresse</label>
        <input type="text" id="adresse" class="form-control" formControlName="adresse">
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Annuler</button>
    <button type="submit" class="btn btn-primary" [disabled]="newClientForm.invalid" (click)="createClient()">Créer</button>
  </div>
</ng-template>

<!-- Modal Confirmation de suppression -->
<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Supprimer client</h4>
    <button type="button" class="btn-close" aria-label="Close button" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p><strong>Êtes-vous sûr de vouloir supprimer le client ?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Annuler</button>
    <button type="button" class="btn btn-danger btn-rounded" (click)="deleteClient(this.selectedClient.id)">Supprimer</button>
  </div>
</ng-template>
