<div class="container-fluid">
 <div class="breadcrumb d-flex justify-content-between align-items-center">

  <!-- Titre -->
  <h1 class="mb-0">BON DE LIVRAISON</h1>

  <!-- Zone droite -->
  <div class="d-flex align-items-center gap-3">

    <!-- Bouton -->
    <button class="btn plusbtn btn-primary" (click)="openSearchModal(recherchebon)">
      <i class="i-Magnifi-Glass1"> </i>
          Rechercher un bon
    </button>

    <!-- Recherche -->
    <div class="search-bar">
      <input
        type="text"
        class="form-control"
        placeholder="Rechercher par N° bon, client, chauffeur ou camion..."
        [(ngModel)]="searchTerm"
        (input)="searchBons()"
        style="width: 350px;"
      />
    </div>

  </div>

</div>
  <div class="separator-breadcrumb border-top mb-3"></div>

  <div class="row">
    <div class="col-12">
      <div class="card o-hidden">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nom Client</th>
                <th scope="col">Adresse</th>
                <th scope="col">Quantité Chargée</th>
                <th scope="col">Chauffeur</th>
                <th scope="col">Formule</th>
                <th scope="col">Date Production</th>
                <th scope="col">Operateur</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let com of filteredCommandes | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index">
                <td>{{ com.client_nom }}</td>
                <td>{{ com.adresse_livraison_saisie }}</td>
                <td>{{ com.quantite_chargee }}</td>
                <td>{{ com.chauffeur_nom }} {{ com.chauffeur_prenom }}</td>
                <td>{{ com.formule_nom }}</td>
                <td>{{ com.heure_depart  | date:'dd/MM/yyyy HH:mm'  }}</td>
                <td>{{ com.operateur_nom }}</td>
                <td>
                  <button class="btn btn-sm btn-outline-secondary me-2" (click)="print(com)">
                    <i class="i-Receipt-3"></i>
                  </button>

                  <button class="btn btn-sm btn-outline-danger" (click)="deleteInvoice(com.id, deleteConfirmModal)">
                    <i class="i-Remove-Basket"></i>
                  </button>
                </td>
              </tr>

              <tr *ngIf="filteredCommandes.length === 0">
                <td colspan="9" class="text-center text-muted">
                  Aucun bon trouvé.
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="d-flex justify-content-center mt-3" *ngIf="filteredCommandes?.length">
          <pagination-controls
            (pageChange)="page = $event"
            previousLabel="Précédent"
            nextLabel="Suivant">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #recherchebon let-modal>

  <div class="modal-header">
    <h4 class="modal-title">
      Rechercher un bon de livraison
    </h4>

    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('cancel')">
    </button>
  </div>

  <div class="modal-body">

    <!-- Filtres -->
    <div class="row">

      <div class="col-md-5 mb-3">

        <label class="form-label">
          Date de production
        </label>

        <input
          type="date"
          class="form-control"
          [(ngModel)]="searchFilters.date"
          >

      </div>

      <div class="col-md-5 mb-3">

        <label class="form-label">
          Client
        </label>

     <select
class="form-control"
[(ngModel)]="searchFilters.client">

<option [ngValue]="null">
Tous les clients
</option>

<option
*ngFor="let client of Clients"
[ngValue]="client.id">

{{ client.nom }}

</option>

</select>

      </div>

      <div class="col-md-2 d-flex align-items-end">

        <button
          class="btn btn-success w-100"
          (click)="loadInvoicesbyDate()">

          <i class="i-Magnifi-Glass1 me-2"></i>
          Rechercher

        </button>

      </div>

    </div>

    <hr>

    <!-- Résultats -->
    <div class="table-responsive mt-3">

      <table class="table table-hover table-bordered">

        <thead>

          <tr>
            <th>Client</th>
            <th>Adresse</th>
            <th>Quantité</th>
            <th>Chauffeur</th>
            <!-- <th>Camion</th> -->
            <th>Formule</th>
            <th>Date</th>
            <th>Opérateur</th>
            <th>Action</th>
          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let com of filteredCommandessearch">

            <td>{{ com.client_nom }}</td>

            <td>{{ com.adresse_livraison_saisie }}</td>

            <td>{{ com.quantite_chargee }}</td>

            <td>
              {{ com.chauffeur_nom }}
              {{ com.chauffeur_prenom }}
            </td>

            <!-- <td>{{ com.camion_plaque }}</td> -->

            <td>{{ com.formule_nom }}</td>

            <td>{{ com.heure_depart  | date:'dd/MM/yyyy HH:mm'  }}</td>

            <td>{{ com.operateur_nom }}</td>

            <td>

              <button
                class="btn btn-sm btn-outline-secondary"
                (click)="print(com)">

                <i class="i-Receipt-3"></i>

              </button>

            </td>

          </tr>

          <tr *ngIf="filteredCommandessearch?.length === 0">

            <td
              colspan="9"
              class="text-center text-muted">

              Aucun bon trouvé

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

  <div class="modal-footer">

    <button
      class="btn btn-outline-secondary"
     (click)="closeSearchModal(modal)">

      Fermer

    </button>

  </div>

</ng-template>
<ng-template #ajoutecommande let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Rechercher un bon de livraison</h4>
    <button type="button" class="btn-close" aria-label="Close button" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
  <div class="col-md">
  <div class="form-floating">
    <select class="form-select" [(ngModel)]="clienselectione" (change)="onClientChange()" name="client" id="client">
      <option [ngValue]="null" selected>-- Sélectionner un client --</option>
      <option *ngFor="let client of Clients" [value]="client.id">
        {{ client.nom }} {{ client.prenom }} - {{ client.entreprise }}
      </option>
    </select>
    <label for="client">Sélectionner Client :</label>
  </div>
</div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" >Annuler</button>
    <button type="button" class="btn btn-success btn-rounded" >Confirmer</button>
  </div>
</ng-template>
